{% extends "_base.twig" %}
{% block content %}
<div class="container">
    <h1>/members</h1>
</div>

<div class="box">
    <table>
        <tbody>
            {% for member in members %}
                <tr>
                    <td>{{ member.firstName }} {{ member.lastName }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}