{% extends 'base.twig' %}
{% block title %} Services List {% endblock %}


{% block content %}

		<div class="page-title" style="background-image: url('images/background01.jpg');">
			<div class="inner">
				<div class="container">
					<div class="row aligned-cols">
						<div class="col-sm-3 aligned-middle">
							<h2>Orders & Transactions Services List</h2>
						</div> <!-- end .col-sm-3 -->
						<div class="col-sm-9">
						</div> <!-- end .col-sm-9 -->
					</div> <!-- end .row -->
				</div> <!-- end .container -->
			</div> <!-- end .inner -->
		</div> <!-- end .page-title -->


<div class="container">

<h2 style="color:white">Views</h2>
<ul>
    <li><p>members/shopping to visit a list of Vendors available to the member</p> Live example <a href="members/shopping">members/shopping</a></li>
    <li><p>members/shopping/{vendorId} to browse the items and deals for a specific vendor</p> Live example <a href="members/shopping/5553e5ac6f2b4e2b0097591f">members/shopping/5553e5ac6f2b4e2b0097591f</a></li>
</ul>


<h2 style="color:white">API calls (all GET, return JSON objects):</h2>
<ul>
    <li><p>api/v1/purchase/item/{member}/{item} have member purchase an item</p> Live example: <a href="api/v1/purchase/item/pramodbiligiri@gmail.com/5563f8b7e1b1ad2b00291a68">api/v1/purchase/item/pramodbiligiri@gmail.com/5563f8b7e1b1ad2b00291a68</a></li>
    <li><p>api/v1/purchase/{memberEmail}/{dealId} have member purchase a deal</p> Live example: <a href="api/v1/purchase/pramodbiligiri@gmail.com/5553e5ad6f2b4e2b00975921">api/v1/purchase/pramodbiligiri@gmail.com/5553e5ad6f2b4e2b00975921</a></li>
    <li><p>api/v1/members/{member}/orders to browse orders for the supplied member</p> Live example <a href="api/v1/members/pramodbiligiri@gmail.com/orders">api/v1/members/pramodbiligiri@gmail.com/orders</a></li>
    <li><p>api/v1/vendors/{vendorId}/transactions get vendor's transaction history</p> Live example <a href="api/v1/vendors/55620556f0ebaa2b0031b34e/transactions">api/v1/vendors/55620556f0ebaa2b0031b34e/transactions</a></li>
    <li><p>api/v1/vendors/transactions get transaction history for all vendors, deals and normal purchases</p> Live example <a href="api/v1/vendors/transactions">api/v1/vendors/transactions</a></li>
    <li><p>api/v1/vendors/transactions/deals get transaction history for all vendors, deals only</p> Live example <a href="api/v1/vendors/transactions/deals">api/v1/vendors/transactions/deals</a></li>
</ul>

</div>
{% endblock %}