{% extends 'base.twig' %}
{% block title %}Vendors{% endblock %}

{% block content %}
		
		<div class="page-title" style="background-image: url('images/background01.jpg');">
			<div class="inner">
				<div class="container">
					<div class="row aligned-cols">
						<div class="col-sm-3 aligned-middle">
							<h2>vendor list</h2>
						</div> <!-- end .col-sm-3 -->
						<div class="col-sm-9">
							<p>vendor list</p>
						</div> <!-- end .col-sm-9 -->
					</div> <!-- end .row -->
				</div> <!-- end .container -->
			</div> <!-- end .inner -->
		</div> <!-- end .page-title -->
		
		<div class="section white">
			<div class="inner">
				<div class="container">
				
				{% for vendor in vendors %}
					<div class="event">
						<div class="image-wrapper">
							<img src="images/vendor.jpg" alt="alt text" class="img-responsive">
						</div> <!-- end .image-wrapper -->
						<div class="content">
							<h5>{{ vendor.name }}</h5>
							<p>{{ vendor.name }} ({{ vendor.id }})</p>
						</div> <!-- end .content -->
						<div class="button-wrapper">
							<a href="/members/shopping/{{ vendor.id }}" class="button">Go Shopping</a>
						</div> <!-- end .button-wrapper -->
					</div> <!-- end .event -->
				{% endfor %}
				
				</div> <!-- end .container -->
			</div> <!-- end .inner -->
		</div> <!-- end .section -->


		<div class="section small text-center dark transparent parallax" style="background-image: url('images/background02.jpg');">
			<div class="inner">
				<div class="container">
					<div class="call-to-action">
						<h3>Thank you</h3>
					</div> <!-- end .call-to-action -->
				</div> <!-- end .container -->
			</div> <!-- end .inner -->
		</div> <!-- end .section -->

{% endblock %}